@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: 'Arial', sans-serif;
  color: #333;
}

h1, h2, h3 {
  color: #000000; /* Change heading text color to white */
}
.city-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.search-btn, .location-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover, .location-btn:hover {
  background-color: #45a049;
}
.current-weather, .days-forecast {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.details h2 {
  color: #333;
}
.weather-cards {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
.separator {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}




@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
}